.container {
  padding: 20px 0 0 0;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
}
.item {
  border: 2px solid yellowgreen;
  border-radius: 4px;
}
.imgContainer {
  width: 100%;
  height: 250px;
}
.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.name {
  font-weight: 500;
  margin-bottom: 10px;
}
.character {
  font-size: small;
}
